 @{ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

            <div>
                <h1>Shopping Cart</h1>

<h1>Place Your Order: Laptop</h1>
<form action="/User/CheckOut" method="post">
    

    <fieldset class="no-legend">
        <legend>Place Your Order</legend>
         <img src="~/images/laptop.png" alt="" title="" width="150" height="90"/>
        
        <ul class="orderPageList" >
            <li>
                <div>
                    <p class="description">Company: DELL: COLOR:BLACK</p>
                </div>                
            </li>
            <li class="email">
                <div class="fieldcontainer" >
                    <label for="orderEmail">Your Email Address</label>
                    <input type="text" id="orderEmail" name="orderEmail"/>                
                    <div><span class="field-validation-valid" ></span></div>
                </div>
            </li> 
            <li class="shiping">
                <div class="fieldcontainer">
                    <label for="orderShipping">Shipping Address</label>
                    <textarea rows="4" cols="15"id="orderShipping" name="orderShipping" ></textarea>               
                    <div><span class="field-validation-valid"></span></div>
                </div>
            </li>
            <li class="accountNo">
                <div class="fieldcontainer">
                    <label for="accountNo">Bank Account Number</label>
                    <input type="text" id="accountNo" name="orderShipping"/>               
                    <div><span class="field-validation-valid"></span></div>
                </div>
            </li>
            <li class="quantity">
                <div class="fieldcontainer">
                    <label for="orderQty">Quantity</label>
                    <input type="text" id="orderQty" name="orderQty" value="1"/>
                    x
                    <span id="orderPrice">70000.00</span>
                    =
                    <span id="orderTotal">70000.00</span>
                </div>
            </li>
        </ul>
        <p class="actions">
            <input type="hidden" name="ProductId" value="5" />
            <input type="submit" value="Place Order"/>
           
        </p>
    </fieldset>
</form>


       
    
          
</div>
<br />

  |